alabaster==0.7.12
arrow==1.0.3
attrs==20.3.0
Babel==2.9.0
beautifulsoup4==4.9.3
bibtexparser==1.2.0
boto3==1.17.59
botocore==1.20.59
Brotli==1.0.9
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cssselect==1.1.0
dash==1.20.0
dash-bootstrap-components==0.12.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
datapackage==1.15.2
dnspython==2.1.0
docutils==0.16
et-xmlfile==1.1.0
fake-useragent==0.1.11
feedfinder2==0.0.4
feedparser==6.0.2
filelock==3.0.12
Flask==1.1.2
Flask-Compress==1.9.0
free-proxy==1.0.2
future==0.18.2
geotext==0.3.0
greenlet==1.0.0
gunicorn==20.1.0
idna==2.10
ijson==3.1.4
imagesize==1.2.0
importlib-metadata==4.0.1
isodate==0.6.0
itsdangerous==1.1.0
jellyfish==0.8.2
jieba3k==0.35.1
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsonlines==2.0.0
jsonpointer==2.1
jsonschema==3.2.0
linear-tsv==1.1.0
lxml==4.6.3
MarkupSafe==1.1.1
newspaper3k==0.2.8
nltk==3.6.2
numpy==1.19.5
openpyxl==3.0.7
packaging==20.9
pandas==1.1.5
Pillow==8.2.0
pip-autoremove==0.9.1
plotly==4.14.3
pycountry==20.7.3
Pygments==2.8.1
pylodstorage==0.0.29
pymongo==3.11.3
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.17.0
pytz==2021.1
PyYAML==5.4.1
rdflib==5.0.0
regex==2021.4.4
requests==2.25.1
requests-file==1.5.1
retrying==1.3.3
rfc3986==1.4.0
s3transfer==0.4.2
scholarly==1.2.0
selenium==3.141.0
sgmllib3k==1.0.0
six==1.15.0
snowballstemmer==2.1.0
soupsieve==2.2.1
SPARQLWrapper==1.8.5
Sphinx==3.5.4
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.4.11
stem==1.8.0
tableschema==1.20.2
tabulator==1.53.5
tinysegmenter==0.3
tldextract==3.1.0
tqdm==4.60.0
typing-extensions==3.7.4.3
unicodecsv==0.14.1
urllib3==1.26.4
Werkzeug==1.0.1
xlrd==2.0.1
zipp==3.4.1
